

#Main{
    background-image: url('/background.jpeg');
    background-size: cover; /* Fills the screen, but may crop */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0;


}

#loveYourLife {
    background-image: url('/background.jpeg');
    background-size: cover; /* Fills the screen, but may crop */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin: 0;


}

#sbs {
    background-image: url('/background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#work {
    background-image: url('/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;




}

/* Make container a row to push scrollable div to the right */
.container {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    height: 100vh;
    width: 100%; /* Ensure it takes up full width */
    padding-right: 5%; /* Add some spacing from the right edge */
}

.scrollable-div {
    width: 50%; /* Adjust width as needed */
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #cccccc00;
    background-color: rgba(121, 61, 177, 0.651);
}

/* Hide scrollbar */
.scrollable-div::-webkit-scrollbar {
    display: none;
}

